.password-enter-btn {
    position: fixed;
    top: 30px;
    right: 35px;
    z-index: 2;
}

.password-enter-btn svg {
    margin: 0 7px 0 0;
    height: 12px;
    fill: currentColor;
}

.password-section-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    position: relative;
    z-index: 1;
}

.password-section-content {
    max-width: 500px;
    width: 100%;
    padding: 45px 50px;
    background: rgba(var(--alternateBackground));
    border-radius: 20px;
}

.password-logo-content {
    display: block;
    margin-bottom: 10px;
}

.password-desc {
    margin: 10px 0 0 0;
}

.password-form {
    margin-top: 36px;
}

.password-section-content .social-icons {
    margin-top: 20px;
}

.password-content {
    padding-top: 10px;
}

#password-popup:target {
    display: block;
}

#password-popup {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(var(--background));
}

#password-popup .cross {
    background-color: rgb(var(--buttonBackground));
    color: rgb(var(--alternateBackground));
    width: 37px;
    height: 37px;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 1;
    z-index: 1050;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

#password-popup .cross svg {
    fill: currentColor;
}

.one-page-password {
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 45px 50px;
    border-radius: 20px;
    background: rgb(var(--alternateBackground));
}

.one-page-password form {
    position: relative;
    margin: 25px 0;
}

.one-page-password p a {
    color: rgb(var(--textColor));
    text-decoration: underline;
    font-weight: var(--headingFontWeight);
}

@media (max-width: 1199px) {
    .password-section-content {
        padding: 35px 40px;
    }
}

@media (max-width: 767px) {
    .password-enter-btn {
        position: unset;
        padding-top: 30px;
        text-align: center;
    }
    .password-section-content {
        padding: 35px 30px;
    }
}